.login-container {
    width: 400px;               /* Set width to 400px */
    height: 350px;              /* Set height to 400px */
    background-color: rgba(255, 255, 255, 0.85);     /* White background for the login form */
    border-radius: 15px;         /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    padding: 20px;              /* Padding for content inside the container */
    box-sizing: border-box;     /* Ensure padding is included in width/height */
  }


h1 {
    color: #000; /* White text */
    padding: 0px; /* Padding for spacing */
    text-align: center; /* Center the text */
    font-size: 24px; /* Font size */
    font-weight:bold;
}

input {
    width: 100%;                /* Full width for textboxes */
    padding: 10px;              /* Padding for textboxes */
    margin-bottom: 15px;        /* Space between textboxes */
    border: 1px solid #ccc;     /* Light gray border */
    border-radius: 5px;         /* Rounded corners */
    box-sizing: border-box;      /* Include padding and border in the total width */
}

.error-border {
    border: 1px solid red;  /* Red border for textboxes on error */
}

.error-message {
    color: red;  /* Red text for error message */
    margin-bottom: 5px; /* Optional margin for spacing */
    padding: 0px;
    font-weight: bold;
}

button {
    width: 100%;                /* Full width for button */
    background-color: #1786cb;     /* Dark gray background */
    color: #fff;                 /* White text */
    border: none;                /* No border */
    padding: 10px;              /* Padding for a better look */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;             /* Pointer cursor on hover */
    font-size: 16px;            /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-top: 10px;           /* Margin on top for spacing */
}

button:hover {
    background-color: #555; /* Lighter gray on hover */
}